body {
	background:url('../images/Aircraft_Runway_Airbus_A380.jpg.jpg') no-repeat 0px 0px;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	background-attachment: fixed;
    background-position: center;
}
h1,h